.returnRecipe {
    @include panel;

    .returnrecipe-header {
        margin-bottom: 25px; 

        .head {
            width: 65%;
            display: inline-block;
        }
        .img {
           width: 35%;
           display: inline-block;
           margin-left: -5px;
           float: right;

           img {
               width: 100%;
           }
        }

        .return-recipe {
            li {
                margin-left: 30px;
            }
        }
    }
}